.how-its-made {
  padding-bottom: 72px;
}

.how-its-made-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.how-its-made-title.two {
  color: #fd9222;
}

.how-its-made-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 1200px) {
  .how-its-made-contain {
    flex-direction: row;
  }
}

.how-its-made-video {
  position: relative;
}

.how-its-made-img {
  max-width: 600px;
  height: 400px;
  border-radius: 15px;
}

.how-its-made-subject {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  color: #111111;
  margin-bottom: 28px;
  max-width: 340px;
}

.how-its-made-items {
  list-style-type: revert;
  font-size: 14px;
  font-weight: 400;
  color: #111111;
  line-height: 1.29;
  letter-spacing: -0.02em;
  padding-left: 20px;
}

.how-its-made-item {
  margin-bottom: 24px;
}

.how-its-made-item.end {
  margin-bottom: 34px;
}

.how-its-made-list {
  border-radius: 15px;
  background-color: #ffffff;
  width: 100%;
  max-width: 516px;
  padding-right: 40px;
  padding-top: 32px;
  padding-left: 32px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-its-made-list {
    max-width: 614px;
    width: 100%;
  }
}

.video-container {
  position: relative;
  background-image: url('/img/mobile/video-overlay.jpg');
  background-size: cover;
  width: 600px;
  height: 400px;
}

@media screen and (min-width: 768px) {
  .video-container {
    background-image: url('/img/tablet/video-overlay.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .video-container {
    background-image: url('/img/desktop/video-overlay-img.jpg');
  }
}

.frame {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 375px) {
  .frame {
    width: 335px;
    height: 500px;
  }
}

@media screen and (min-width: 768px) {
  .frame {
    width: 600px;
    height: 400px;
  }
}

.svg-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  fill: #fff;
  z-index: 1;
}

.video-container {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

@media screen and (min-width: 375px) {
  .video-container {
    width: 335px;
    height: 500px;
  }
}

@media screen and (min-width: 768px) {
  .video-container {
    width: 600px;
    height: 400px;
  }
}
