.components {
  padding-bottom: 72px;
  padding-top: 72px;
}

@media screen and (min-width: 768px) {
  .components {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .components {
    padding-bottom: 128px;
    padding-top: 128px;
  }
}

.components-title {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  color: #111111;
}

@media screen and (min-width: 769px) {
  .components-title {
    margin-bottom: 28px;
  }
}

.taste {
  color: #fd9222;
}

.text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #111111;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

@media screen and (min-width: 769px) {
  .text {
    margin-bottom: 50px;
    width: 486px;
  }
}

.chocolate-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .chocolate-list {
    gap: 32px;
    flex-flow: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .chocolate-list {
    flex-wrap: nowrap;
    gap: 19px;
    flex-flow: nowrap;
  }
}

.chocolate {
  color: #111111;
  width: 336px;
  height: 270px;
}

@media screen and (min-width: 1200px) {
  .chocolate {
    width: 270px;
    height: 270px;
  }
}
@media screen and (min-width: 768px) {
  .zero {
    order: 0;
  }
  .one {
    order: 2;
  }
  .two {
    order: 3;
  }
  .three {
    order: 1;
  }
}
@media screen and (min-width: 1200px) {
  .zero {
    order: 0;
  }
  .one {
    order: 1;
  }
  .two {
    order: 2;
  }
  .three {
    order: 3;
  }
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  height: 270px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px Solid #fd9222;
}

.flip-card-front {
  border-radius: 15px;
  padding: 0 28px;
}

.orange {
  background-color: #fd9222;
  color: #ffffff;
  border: none;
}

.black {
  background-color: #1e1823;
  color: #ffffff;
  border: none;
}

.photo-chocolate {
  margin: 0 auto;
  margin-top: 28px;
}

.text-name {
  margin-top: 36px;
  font-size: 14px;
  line-height: 1.29;
}

.flip-card-back {
  padding: 28px;
  background-color: #ffffff;
  color: black;
  transform: rotateY(180deg);
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.windows-info {
  font-size: 18px;
  line-height: 1.22;
  padding-bottom: 8px;
}

.description {
  list-style-type: none;
  display: flex;
  gap: 6px;
  margin-bottom: 14px;
}

.description-button {
  padding: 6px 16px;
  border: 1px Solid #fd9222;
  border-radius: 35px;
  font-size: 9px;
  line-height: 1.2;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description-button:hover,
.description-button:focus {
  background-color: #fd9222;
  color: #ffffff;
}

.description-text {
  font-size: 14px;
  line-height: 1.28;
  height: 146px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 1200px) {
  .semi-sweet {
    height: 124px;
    -webkit-line-clamp: 7;
  }
}
