<div class="header-chocolate">
  <div class="container header-container header-desktop">
    <!-----------навігація у хедері-------------------->
    <a href="/index.html" class="header-logo">
      <b></b>
      <span class="header-part-of-logo">SIMPLY</span>CHOCOLATE
      <svg width="24" height="24" class="header-logo-svg">
        <use href="/img/icons.svg#logo-chocolate"></use>
      </svg>
    </a>
    <nav class="header-main-nav">
      <ul class="header-nav-list">
        <li class="header-menu-item">
          <a href="/index.html" class="header-menu-link">Home</a>
        </li>
        <li class="header-menu-item">
          <a href="#how-its-made" class="header-menu-link">How it’s made?</a>
        </li>
        <li class="header-menu-item">
          <a href="#our-products" class="header-menu-link">Our products</a>
        </li>
        <li class="header-menu-item">
          <a href="#top-sellers" class="header-menu-link">Top sellers</a>
        </li>
        <li class="header-menu-item">
          <a href="#reviews" class="header-menu-link">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <ul class="header-social-list">
      <li class="header-social-item">
        <a href="https://instagram.com" class="header-social-link">
          <svg width="24" height="24" class="header-social-svg">
            <use href="/img/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a href="https://twitter.com" class="header-social-link">
          <svg width="24" height="24" class="header-social-svg">
            <use href="/img/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="header-mobile container">
    <a href="" class="header-logo-mobile">
      <b></b>
      <span class="header-mobile-part-of-logo">SIMPLY</span>CHOCOLATE
      <svg width="21" height="21" class="header-logo-svg">
        <use href="/img/icons.svg#chocolate-mobile"></use>
      </svg>
    </a>
    <button class="header-button js-open-menu" type="button">
      <svg width="30" height="30" class="burger-menu">
        <use href="/img/icons.svg#burger-menu"></use>
      </svg>
    </button>
  </div>
  <!------мобільне меню------->
  <div class="mobile-menu js-menu-container">
    <div class="mobile-menu-container">
      <button class="mobile-menu-close-btn js-close-menu">
        <svg class="mobile-menu-close-icon" width="34" height="34">
          <use href="/img/icons.svg#x"></use>
        </svg>
      </button>
      <nav>
        <ul class="header-mobile-list">
          <li class="header-mobile-item">
            <a href="#hero" class="header-mobile-link">Home</a>
          </li>
          <li class="header-mobile-item">
            <a href="#how-its-made" class="header-mobile-link"
              >How it’s made?</a
            >
          </li>
          <li class="header-mobile-item">
            <a href="#our-products" class="header-mobile-link">Our products</a>
          </li>
          <li class="header-mobile-item">
            <a href="#top-sellers" class="header-mobile-link">Top sellers</a>
          </li>
          <li class="header-mobile-item">
            <a href="#reviews" class="header-mobile-link">Chocolate is loved</a>
          </li>
        </ul>
      </nav>

      <ul class="mobile-social-list">
        <li class="mobile-social-item">
          <a href="https://instagram.com" class="mobile-social-link">
            <svg width="22" height="22" class="mobile-social-svg">
              <use href="/img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-social-item">
          <a href="https://twitter.com" class="mobile-social-link">
            <svg width="22" height="22" class="mobile-social-svg">
              <use href="/img/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
