<section class="top-sellers" id="top-sellers">
  <div class="container">
    <h2 class="sellers-title title">
      <span class="sellers-title-item">Top&#32;</span>Sellers
    </h2>
    <ul class="list-sellers">
      <li class="list-sellers-item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              /img/mobile/tel-chocolate-nut.jpg      1x,
              /img/mobile@2/tel-chocolate-nut@x2.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/tablet/tb-chocolate-nut.jpg      1x,
              /img/tablet@2/tb-chocolate-nut@x2.jpg 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/desktop/top-sellers-chocolate1.jpg            1x,
              /img/desktop-photos@2/top-sellers-chocolate1@2.jpg 2x
            "
          />
          <img
            src="/img/desktop/top-sellers-chocolate1.jpg"
            alt="chocolate-nut"
            class="sellers-images"
            width="368"
            height="464"
          />
        </picture>

        <span class="sellers-text mobile">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </span>
      </li>

      <li class="list-sellers-item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              /img/mobile/tel-chocolate-mentol.jpg      1x,
              /img/mobile@2/tel-chocolate-mentol@x2.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/tablet/tb-chocolate-mentol.jpg      1x,
              /img/tablet@2/tb-chocolate-mentol@x2.jpg 2x
            "
          />
          <source
            media="(min-width: 1158px)"
            srcset="
              /img/desktop/top-sellers-chocolate2.jpg            1x,
              /img/desktop-photos@2/top-sellers-chocolate2@2.jpg 2x
            "
          />
          <img
            src="/img/desktop/top-sellers-chocolate2.jpg"
            alt="chocolate-mentol"
            class="sellers-images"
            width="368"
            height="464"
          />
        </picture>

        <button
          type="button"
          class="btn-sellers mobile js-open-modal"
          data-modal="buy-now-modal"
        >
          Buy now
        </button>
      </li>

      <li class="list-sellers-item">
        <img
          srcset="
            /img/desktop/dt-chocolate-bitter.jpg             1x,
            /img/desktop-photos@2/dt-chocolate-bitter@x2.jpg 2x
          "
          src="/img/desktop/dt-chocolate-bitter.jpg"
          alt="chocolate-bitter"
          class="sellers-images"
          width="368"
          height="464"
        />
      </li>
    </ul>
    <div class="sellers-decoration-text">
      <span class="sellers-text desck">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </span>
      <button
        type="button"
        class="btn-sellers desck js-open-modal"
        data-modal="buy-now-modal"
      >
        Buy now
      </button>
    </div>
  </div>
</section>
